<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit">
	<meta name="Description" content="">
	<meta name="Keywords" content="">
	<title>header</title>
	<link rel="stylesheet" href="../dist/styles/basic/base.css">
	<link rel="stylesheet" href="../dist/styles/basic/includes/header.css">
</head>
<body>
	<div class="header">
		<div class="top">
			<div class="top-inner">
				<span>您好，</span>
				<span>135XXXX8888</span>
				<a href="javascript:;">【安全退出】</a>
				<span class="q-bar"></span>
				<span class="txtGray">企业融资策略</span>
				<div class="fr">
					<span class="logintxt">投资用户登录</span>
					<span class="txtGray">全国客服热线：</span>
					<span class="txtRed"><span class="f14">400</span>-XXXXXXXX</span>
				</div>
			</div>
		</div>
		<div class="logo">
			<div class="logo-inner cl">
				<div class="logo-inner-wrap fl">
					<img src="../dist/images/logo.jpg" class="txt-middle" />
					<span class="f16 txt-middle">让中小企业融资变的更</span>
					<span class="f18 txtRed txt-middle">容易</span>
				</div>
				<a href="javascript:;" class="fr f16 myqyd">我的企易贷</a>
			</div>
		</div>
		<div class="nav">
			<div class="nav-inner">
				<ul class="nav-list cl">
					<li><a href="javascript:;">首页</a></li>
					<li><a href="javascript:;">企易查</a></li>
					<li><a href="javascript:;" class="cur">信用融资</a><span class="ui-tip">HOT</span></li>
					<li><a href="javascript:;">股权融资</a></li>
					<li><a href="javascript:;">企业评级</a></li>
					<li><a href="javascript:;">融资租赁</a><span class="ui-tip">即将上线</span></li>
					<li><a href="javascript:;">供应链金融</a><span class="ui-tip">即将上线</span></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>