<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit">
	<meta name="Description" content="">
	<meta name="Keywords" content="">
	<title>home</title>
	<link rel="stylesheet" href="../dist/styles/basic/base.css">
	<link rel="stylesheet" href="../dist/styles/project/demo/tab.css">
</head>
<body>
	<div class="container js-demo">
		<ul class="tab-menus js-tabs">
			<li class="active">tab1</li>
			<li>tab2</li>
			<li>tab3</li>
		</ul>
		<div class="tab-contents js-conts">
			<div class="active">content1</div>
			<div>content2</div>
			<div>content3</div>
		</div>
	</div>
	<script src="../dist/scripts/common.js"></script>
	<script src="../dist/scripts/project/demo/tab_demo.bundle.js"></script>
</body>
</html>