<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit">
	<meta name="Description" content="">
	<meta name="Keywords" content="">
	<title>首页</title>
	<link rel="stylesheet" href="../dist/styles/basic/base.css">
	<link rel="stylesheet" href="../dist/styles/basic/includes/header.css">
</head>
<body>
	<iframe src="header.html" width="100%" height="184px" border="0"></iframe>
</body>
</html>