body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

body,
button, input, select, textarea {
  font: 12px/1.5  "\5fae\8f6f\96c5\9ed1","\5b8b\4f53", Arial, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace;
}

small {
  font-size: 12px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

q:before, q:after {
  content: '';
}

:focus {
  outline: 0;
}

legend {
  color: #000;
}

fieldset, img {
  border: none;
}

button, input, select, textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
